<!-- Creates the bar on the top of the page that displays the name of the page and any other options specific
to the page -->
<ion-header>
  <ion-toolbar>
    <!-- Positions the button on the right side of the page  -->
    <ion-buttons slot="end">
      <!-- Creates the change language button that is a dropdown arrow that should open up to the list of 
      language options. -->
     <ion-button (click)="openLanguagePopover($event)">{{'USERINPUT.text' | translate}} <!-- Sets the text to 
      be piped in from the language pages -->
       <ion-icon name = "arrow-dropdown" ></ion-icon></ion-button>     
    </ion-buttons>
    <!-- Creates the title of the page and places it in the header bar of the page -->
    <ion-title>{{'USERINPUT.title' | translate}} <!-- Sets the text to be piped in from the language pages --> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Creates the data entry form that the user will fill in, this is likely going to be changed as we update
both the server functionality and the information that we collect from the user -->
<ion-content  color="primary">
    <form #form="ngForm" (ngSubmit)="addEntry(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>{{'USERINPUT.display' | translate}} <!-- Sets the text to be piped in from the language pages --></h3>
          </div>
          <div padding>
            <!-- Each element is given a unique name and assigned a type that will be altered as we lock in what is
            needed for out putposes, and set as required before the user can submit the entry -->
            <ion-item>
              <ion-input  name="latitude" type="text" placeholder="{{ 'USERINPUT.latitude' | translate}} 37&deg;
              44&#39;46.1&#34; N" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="longitude" type="text" placeholder="{{ 'USERINPUT.longitude' | translate}} 25&deg;
              40&#39;0.8&#34; W" ngModel  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="temperature" type="text" placeholder="{{ 'USERINPUT.temp' | translate}} 17.8&deg;C" 
              ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="humidity" type="text" placeholder="{{ 'USERINPUT.hum' | translate}} 75&#37;" 
              ngModel  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="particulate" type="text" placeholder="{{ 'USERINPUT.part' | translate}} 2700 " 
              ngModel  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="qualitative" type="text" placeholder="{{ 'USERINPUT.qual' | translate}}  good" 
              ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <!-- Creates the submit button and makes it so that it does not function if the form is not filled 
              correctly-->
            <ion-button  size="large" type="submit" [disabled] = "form.invalid" expand = "block">
              {{'USERINPUT.submit' | translate}} <!-- Sets the text to be piped in from the language pages -->
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
</ion-content>

