//Sets the color and styling for the page as the form needs it as it doesn't inherit the default coloration 

ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}