<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">

     <ion-button (click)="openLanguagePopover($event)">{{ 'RPI.text' | translate}}<ion-icon name = "arrow-dropdown">
     </ion-icon></ion-button>
     
    </ion-buttons>
    <ion-title>{{ 'RPI.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>{{ 'RPI.display' | translate}}</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="latitude" type="text" placeholder="37&deg;44&#39;46.1&#34; N" readonly= "true" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="longitude" type="text" placeholder="25&deg;40&#39;0.8&#34; W" readonly= "true" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="temperature" type="text" placeholder="17.8&deg;C" readonly= "true" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="humidity" type="text" placeholder="75&#37;" readonly= "true" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="particulate level (ppm)" type="text" placeholder="2700" readonly= "true" ngModel></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
