<!-- Creates the bar on the top of the page that displays the name of the page and any other options specific
to the page -->
<ion-header>
  <ion-toolbar>
    <!-- Positions the button on the right side of the page  -->
    <ion-buttons slot="end">
      <!-- Creates the change language button that is a dropdown arrow that should open up to the list of 
      language options. -->
     <ion-button (click)="openLanguagePopover($event)">{{ 'RPI.text' | translate}}<!-- Sets the text to be piped 
      in from the language pages --><ion-icon name = "arrow-dropdown">
     </ion-icon></ion-button>
    </ion-buttons>

    <!-- Creates the title of the page and places it in the header bar of the page -->
    <ion-title>{{ 'RPI.display' | translate}}<!-- Sets the text to be piped 
      in from the language pages --> </ion-title>
  </ion-toolbar>
</ion-header>


<!-- Creates a form that holds the information that will eventually be read in from the cloud server -->
<ion-content  color="primary">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <!-- Each entry is set so that it can't be altered by the user as it is being read from the server-->
          <div padding>
            <ion-item><h3>{{ 'USERINPUT.latitude' | translate}}: 37&deg;44&#39;46.1&#34; N</h3></ion-item>
            <ion-item><h3>{{ 'USERINPUT.longitude' | translate}}: 25&deg;40&#39;0.8&#34; W</h3></ion-item>
            <ion-item><h3>{{ 'USERINPUT.temp' | translate}}: 17.8&deg;C</h3></ion-item>
            <ion-item><h3>{{ 'USERINPUT.hum' | translate}}: 75&#37;</h3></ion-item>
            <ion-item><h3>{{ 'USERINPUT.part' | translate}}: 2700</h3></ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
