
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">

     <ion-button (click)="gotoRPi();">{{'MAP.button2'|translate}}</ion-button>

     <ion-button (click)="openLanguagePopover($event)">{{'MAP.text' | translate}}<ion-icon name = "arrow-dropdown">
     </ion-icon> </ion-button>
     

     
    </ion-buttons>
    <ion-title>{{'MAP.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="primary" padding>
 <!--<div class="ion-padding">
    {{ 'MAP.display' | translate}}
  </div>-->

</ion-content>
